.addCommentForm {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.commentBody {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 30px;
  outline: none;
}

input.songCommentFieldErr {
  border: 2px solid red;
}
