.song-comp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 40px);
}

.song-banner {
  background: rgb(190, 96, 96);
  background: linear-gradient(135deg, rgba(190, 96, 96, 1) 0%, rgba(149, 142, 177, 0.9329234467455622) 16%, rgba(189, 181, 219, 1) 29%, rgba(137, 161, 195, 1) 64%, rgba(103, 140, 168, 1) 100%);

  height: 380px;
  display: flex;
  justify-content: space-between;
}

.song-banner__left {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-banner__left__top {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.play-button-container {
  display: flex;

  justify-self: center;
  align-items: center;
}

button#song-banner-toggle-play {
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  height: 88px;
  width: 88px;
  border: none;
  background-color: rgb(255, 120, 0);
}

img#song-component-toggle-play {
  height: 88px;
  width: 88px;
}

.song-banner__top__song-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

span#song-info__song-title {
  background-color: rgb(37, 35, 35);
  color: white;
  font-size: xx-large;
  padding: 0 6px;
  width: auto;
  display: inline-block;
}

span#song-info__song-artist {
  background-color: rgb(37, 35, 35);
  color: white;
  font-size: xx-large;
  padding: 0 6px;
  width: auto;
  display: inline-block;
}

.song-banner__left__bottom {
  display: flex;
}

.song-waveform {
  display: flex;
  width: 100%;
}

img.song-waveform-img {
  background-color: rgba(128, 128, 128, 0.1);
}

.song-banner__right {
  width: 30%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;

  /* padding: 0 20px; */
}

.banner-song-image {
  background-color: transparent;
  height: 340px;
  width: 340px;
}

.song-image-container {
  border: 0.25px solid rgba(128, 128, 128, 0.25);
  height: 340px;
  width: 340px;
}

.mainContainer {
  display: flex;
  flex-direction: row;

  padding-top: 20px;
  padding-bottom: 120px;

  width: 100%;
  /* height: 100%; */

  min-height: calc(100% - 560px);
}

.userInteraction {
  /* border: green 5px dashed; */

  display: flex;
  flex-direction: column;
}

.commentForm-wrapper {
  width: 100%;
  display: flex;
  /* padding-bottom: 20px; */
  /* border-bottom: 0.25px solid rgba(128, 128, 128, 0.25) */
}

.comment-char-limit.flx-row {
  justify-content: flex-end;

  box-sizing: border-box;
  height: 20px;
  width: 100%;
  padding-right: 10px;

  color: gray;

  border-bottom: 0.25px solid rgba(128, 128, 128, 0.25)
}

.commenterProfilePic {
  height: 40px;
  width: 40px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 120, 0, 1) 39%, rgba(255, 120, 0, 1) 65%);
}

.commentForm {
  width: 100%;

  background-color: rgba(165, 162, 165, 0.2);
}

.userInteraction__buttons {
  display: flex;
}

.song-banner__song-image {
  height: 340px;
  width: 340px;
}

.right-mainContainer {
  width: 30%;
  border-left: 0.25px solid rgba(128, 128, 128, 0.25);
}

.left-mainContainer {
  width: 70%;

  box-sizing: border-box;
  padding: 0 20px;
}

.discourse {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.discourse__left.artistDetails {
  width: 120px;
  margin-right: 10px;
}

.discourse__right {
  width: calc(100% - 122px);
}

.discourse__songInfo {
  padding: 10px;
}

.discourse__comments {
  padding: 10px;
}

div#song-component-artist-pic {
  height: 120px;
  width: 120px;
  border-radius: 60px;

  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 120, 0, 1) 39%, rgba(255, 120, 0, 1) 65%);
}
