.comment-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.comment-wrapper__commenter-info {
  display: flex;
  width: 100%;
}

div.comment-wrapper__right {
  height: 50px;
  width: 50px;
  justify-self: flex-end;
}

.commenterUsername {
  color: rgba(128, 128, 128, 1)
}

.commenterPic {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 120, 0, 1) 39%, rgba(255, 120, 0, 1) 65%);
}

.commentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 50px);
}

.commentBody {
  word-break: break-word;
}

button.delete-comment-btn {
  background-color: transparent;
  border: 0.25px solid rgba(128, 128, 128, 0.25);
}
