.comment-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.comment-wrapper__commenter-info {
  display: flex;
  width: 100%;
}

div.comment-wrapper__right {
  height: 50px;
  width: 50px;
  justify-self: flex-end;
}

.commenterUsername {
  display: flex;
  height: fit-content;

  gap: 5px;

  color: rgba(128, 128, 128, 1)
}

.commenterPic {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 120, 0, 1) 39%, rgba(255, 120, 0, 1) 65%);
}
div.commenterPic {
  position: relative;
}

img.commenterPic {
  position: absolute;
  left: -5px;
  top: -5px;
}

.commentInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 50px);
}

.commentBody {
  word-break: break-word;
}

button.delete-comment-btn {
  background-color: transparent;
  border: 0.25px solid rgba(128, 128, 128, 0.25);
}

span.creator-comment-indicator {
  padding: 2px 5px;
  border-radius: 5px;

  background-color: rgb(128, 128, 128);

  font-size: 12px;
  color: white;
}
