#playlist-songs {
    position: absolute;
    top: 0;
    right: 5px;
    transform: translateY(calc(-100% - 5px));
    width: calc(1225px * 0.4);

    color: white;
    background-color: blue;
}

.current-playlist-song-track {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 15px;
    box-sizing: border-box;
    height: 35px;
    
}
