.stream-comp {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 50px;;
}

.stream-comp-left {
  min-width: 810px;
  width: 80%;
  border-right: 0.25px solid rgba(128, 128, 128, 0.25);
}

.stream-comp-right {
  width: 225px;
  padding-top: 40px;
  padding-left: 20px;
}

h2#song-cards-header {
  padding-left: 15px;
}

.song-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.song-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 2px 0;
}

.song-container__song-image {
  display: inline-block;
  padding-left: 15px;
  height: 160px;
  width: 160px;
}

img.song-image {
  /* display: inline-block; */
  border: 0.25px solid rgba(128, 128, 128, 0.25);
  height: 160px;
  width: 160px;
}

.song-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  height: 160px
}

.song-content-links {
  display: flex;
  flex-direction: row;
}

/* div.song-content-links__play-button-wrapper {
  display: flex;
  align-self: center;
  margin-right: 5px;
} */

button#stream-card-toggle-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  background-color: rgb(255, 120, 0);

  padding: 0;
  margin-right: 5px;
}



img#stream-card-toggle-play-img {
  width: 35px;
  /* margin-left: 5px; */
  /* margin-top: 1px; */
}

.song-content-links__song-author-title {
  display: flex;
  flex-direction: column;
}

.stream-comp__audience-ui-btns {
  flex-direction: row;
}

img.song-waveform-img {
  max-height: 104px;

  min-width: 400px;
  max-width: 650px;
}

div.song-card-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

div.song-card-poster {
  padding-left: 15px;
}

button.alter-track-btns {
  margin: 0 5px;
  height: 20px;
  background-color: transparent;
  border: 0.5px solid gray;
  border-radius: 5px;
}

h3#stream-comp-right-header {
  position: fixed;
}
