.stream-comp {
  display: flex;
  flex-direction: row;
}

.stream-comp-left {
  min-width: 810px;
}


.song-cards-container {
  border: 0.5px red solid;

  display: flex;
  flex-direction: column;
}

.song-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 2px 0;

  border: 0.5px green solid;
}

.song-container__song-image {
  display: inline-block;
  /* padding-right: 5px; */
}

img.song-image {
  /* display: inline-block; */
  height: 160px;
  width: 160px;
}

.song-content {
  display: flex;
  flex-direction: column;
}

.song-content-links {
  display: flex;
  flex-direction: row;
}

.song-content-links__song-author-title {
  display: flex;
  flex-direction: column;
}

.stream-comp__audience-ui-btns {
  flex-direction: row;
}

img.song-waveform-img {

  min-width: 400px;
  max-width: 650px;
}
