
.song-cards-container {
  border: 0.5px red solid;

  display: flex;
  flex-direction: column;
}

.song-container {
  display: inline-flex;
  margin: 2px 0;
  border: 0.5px green solid;
}

.song-image {
  display: inline-block;
  height: 160px;
  width: 160px;
}

.song-content {
  display: inline-block;
}
