.upload-song-form-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - 40px);

  background: radial-gradient(circle, rgba(124, 136, 226, 1) 0%, rgba(255, 120, 0, 1) 100%);
}

.upload-song-form {
  display: flex;
  flex-direction: column;
}

.upload-song-nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

div.form-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;

  margin: 50px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: antiquewhite;
}

form#form__upload-song-form {
  display: flex;
  flex-direction: column;

  padding: 30px;
}

h3#upload-form-title {
  justify-content: center;
  align-self: center;
}

div.upload-errs {
  color: red;
  padding-left: 9px;
  padding-top: 5px;
}

input.uploadSongForm-input {
  display: block;
  padding: 5px;
  width: 750px;
}

textarea.uploadSongForm-textarea {
  display: block;
  resize: none;

  width: 758px;
  height: 100px
}

.uploadSongForm-label {
  margin: 4px;
  padding: 5px;
}

label#upload-desc {
  position: relative;
}

input.uploadSongForm-input:focus,
textarea.uploadSongForm-textarea:focus {
  background-color: rgba(255, 120, 0, 0.2);
}

span.upload-req-field {
  color: red;
}

button#upload-song-btn {
  width: 764px;
  height: 50px;
  margin: 9px;

  justify-self: baseline;

  background-color: rgb(255, 120, 0);
  border: none;
  color: white;
  border-radius: 5px;

  font-size: larger;
}

div.return-uploaded-song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  font-size: larger;
}

img#just-uploaded-song-img {
  object-fit: scale-down;
  max-width: 1225px;
}
