@keyframes growAndFade {
    0% {
        opacity: .5;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.loading-gif-container {
    position: relative;

    box-sizing: border-box;
    height: 250px;
    width: 250px;
}

.splash-loading-gif {
    position: absolute;
    top: calc(175px / 2 );
    left: calc(175px / 2);

    box-sizing: border-box;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: var(--orange-one);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: growAndFade 2s infinite ease-out;
    background-color: orange;
    border-radius: 50%;
    opacity: 0;
}

.circle1 {
    animation-delay: 0.25s;
}

.circle2 {
    animation-delay: 0.5s;
}

.circle3 {
    animation-delay: 0.75s;
}
