#modal-content {
    top: 15%;
    transform: translate(-50%, 0%);
}

#add-song-to-playlist-form {
    width: 600px;
    max-height: 75vh;

    position: relative;
    box-sizing: border-box;
    padding: 25px;
    gap: 20px;

    overflow-y: scroll;
}

#add-song-to-playlist-form::-webkit-scrollbar {
    width: 0px;
}

#close-playlist-modal-btn {
    background-color: transparent;
    border: none;

    position: absolute;
    top: 5px;
    right: 5px;
}

#add-to-or-create-playlist-option {
    gap: 20px;
}

.playlist-options-header {
    cursor: pointer;

    border-bottom: 2px solid transparent;

    font-weight: bold;
    font-size: 22px;
}

.playlist-options-header:hover {
    border-bottom: 2px solid black;
}


.active-playlist-option {
    cursor: default;

    border-bottom: 2px solid var(--orange-one);

    color: var(--orange-one);
}

.active-playlist-option:hover {
    border-bottom: 2px solid var(--orange-one);
}
