/* overwrite default values */
div.rhap_container {
  background-color: rgb(242, 242, 242);
  box-shadow: none;
}

div.rhap_progress-filled,
div.rhap_volume-filled,
div.rhap_volume-indicator,
div.rhap_progress-indicator {
  background-color: rgb(255, 120, 0);
}

div.rhap_time {
  color: rgb(255, 120, 0);
}

.footer-audio-container {
  /* width: 1225px; */
  width: 100%;
  height: 60px;

  position: fixed;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgb(242, 242, 242);
  border-top: 0.5px solid rgba(0, 0, 0, .1);
}

.react-audio-player-container {
  width: calc(1225px * 0.7);
}

.footer-audio-container.hiddenPlayer {
  display: none;
}

.audio-footer-current-track.flx-row {
  width: calc(1225px * 0.3);

  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  min-width: fit-content;
}

img#footer-track-img {
  box-sizing: border-box;

  height: 45px;
  width: 45px;
  margin-right: 15px;
}

div.song-details.flx-col {
  height: 100%;
  gap: 5px;
}

span#footer-artist-name {
  color: gray;
}

span#footer-no-audio {
  color: rgb(255, 120, 0);
}
