/* TODO Add site wide styles */

:root {
  --orange-one: rgb(255, 120, 0);
}

* {
  font-family: 'Lato';
}

*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

#root,
.app-container {
  height: 100%;
}

.app-container {
  /* overflow: auto; */
}

body {
  margin: 0px;
  background-color: rgb(242, 242, 242);
}

a:visited {
  text-decoration: none;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-content: center;

  /* min-width: 1225px;
  min-height: calc(100% - 40px); */
  width: 100%;
  height: 100%;
  min-width: 1225px;

  /* margin-bottom: 80px; */
}

.site-container__main-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  background-color: white;

  box-sizing: border-box;
  width: 1225px;
  margin-top: 40px;
  /* padding-bottom: 120px; */
}

.site-container__main__component {
  display: flex;
  flex-direction: row;
  height: 100%;

  margin-top: 40px;
}

.main-component-container {
  display: flex;
}

div#modal {
  height: 1250px;
}

svg {
  color: black;
}

button:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

div.audio-footer-container {
  width: 1225px;
  height: 60px;
  position: absolute;
  bottom: 0px;


  align-self: center;
  width: 1225px;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flx-row-space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flx-row-justify-align-ctr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flx-row-align-ctr {
  display: flex;
  align-items: center;
}

.flx-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-col-align-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flx-col-justify-align-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gray-text {
  color: gray;
}

.red-text {
  color: red;
}

.red-outline {
  outline: 2px solid red;
}

.small-text {
  font-size: small;
}

.large-text {
  font-size: large;
}

.hidden-span {
  visibility: hidden;
}

.disabled-btn {
  background-color: gray;
}

.disabled-btn:hover {
  cursor: not-allowed ;
}

.orange-text {
  color: var(--orange-one);
}

@keyframes growAndFade {
  0% {
      opacity: .5;
      transform: scale(0);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}

.circle1 {
  animation-delay: 0s;
}

.circle2 {
  animation-delay: 0.15s;
}

.circle3 {
  animation-delay: 0.3s;
}
