/* TODO Add site wide styles */
html,
body {
  height: 100%;
}

#root,
.app-container {
  height: 100%;
}

.app-container {
  /* overflow: auto; */
}

* {
  font-family: 'Lato';
}

body {
  margin: 0px;
  background-color: rgba(128, 128, 128, 0.295);
}

.site-container {
  display: flex;
  flex-direction: column;

  width: 98vw;
  min-width: 1225px;
  min-height: calc(100% - 40px);
  height: 100%;

  /* margin-bottom: 80px; */
}

.site-container__main-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  background-color: white;

  width: 1225px;
  margin-top: 40px;
}

.site-container__main__component {
  display: flex;
  flex-direction: row;
  height: 100%;

  margin-top: 40px;
}

.main-component-container {
  display: flex;
}

div#modal {
  height: 1250px;
}

div.audio-footer-container {
  align-self: center;
  width: 1225px;
}

svg {
  color: black;
}

button:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

div.audio-footer-container {
  width: 1225px;
  height: 60px;
  position: absolute;
  bottom: 0px;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-col {
  display: flex;
  flex-direction: column;
}
