div#splash {
  display: flex;
  flex-direction: column;

  margin-top: -40px;

  min-height: calc(100vh);
  width: 1225px;
}

div#splash-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;

  position: relative;
}

div.splash-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1225px;
  height: auto;

  position: absolute;
  top: 0;
}


div.account-btns {
  display: flex;
  flex-direction: row;
}

div.account-btn-wrappers {
  padding: 0 5px;
}

div.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

img.splash-nav-logo {
  height: 50px;
  padding: 5px;
}

div.carousel > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  display: flex;
  justify-content: center;

  position: absolute;
  inset: 0;

  list-style: none;
  box-sizing: border-box;

  opacity: 0;

  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide-text-header,
.slide-text-desc {
  font-weight: normal;
  margin: 0;
}

.slide-text-header {
  max-width: 650px;
}

.slide-text-desc {
  width: 390px;
}

.slide-text-container.flx-col {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;

  top: 0;

  height: 100%;
  gap: 20px;

  background-color: transparent;
  color: rgb(255, 255, 255);
}

li.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}

img.carousel-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

div.carousel-container {
  height: 100%;
  width: 100%;
  position: relative;
}

div.carousel {
  height: 100%;
  width: 100%;

  position: relative;
}

div.carousel-button-nav {
  position: absolute;
  left: 50%;
  bottom: 5%;
  /* transform: translateX(50%); */
  height: 10px;
}

button.slide-button {
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: transparent;
  margin: 0 5px;
  padding: 0;
}

.slide-button[data-active] {
  background: white;
}

div.banner-top-offset {
  height: 3px;
  width: 100%;
  background-color: rgb(255, 120, 0);
}

/* Splash-middle */
.splash-middle {
  justify-content: center;

  padding: 30px 0;
}

.splash-middle > h2 {
  font-weight: lighter;
}

/* Splash-Bottom && Splash-Song-Cards styling */

.splash-bottom.flx-row-wrap {
  padding-bottom: 120px;

  justify-content: space-evenly;
}

.splash-song-card {
  padding-bottom: 15px;
  width: 250px;
  height: 300px;
}

.splash-song-card-img {
  width: 250px;
  height: 250px;
}

.splash-song-card-img-wrapper {
  position: relative;
}

div.song-card-img-overlay.flx-row {
  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

button.song-card-toggle {
  border-radius: 50%;
  width: 30%;
  height: 30%;

  padding: 0;
  border: 0;

  background-color: orange;
}

.song-card-img-playPause {
  height: 100%;
  width: 100%;
}

.hidden-play-btn {
  opacity: 0
}

div.song-card-img-overlay.hidden-play-btn:hover {
  opacity: 1;
}

span.splash-song-card-details {
  display: block;

  overflow: clip;
  text-overflow: ellipsis;
}

span#splash-song-artist {
  color: gray;
}
