div#splash {
  display: flex;
  flex-direction: column;

  width: 1250px;
  z-index: 1;
}

div#splash-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  /* background-image: url('https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_c-318d7eed.jpg'); */
  background-image: url('https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists-8081257b.jpg');
}

div.splash-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 40px;
}


div.account-btns {
  display: flex;
  flex-direction: row;
}

div.account-btn-wrappers {
  padding: 0 5px;
}

div.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

img.splash-nav-logo {
  height: 50px;
  padding: 5px;
}
