form.editSongForm {
  margin: 20px;
  width: 850px;
}

div.editSongForm-inner-container {
  display: flex;
  flex-direction: row;
}

img.view-edit-song-img {
  height: 250px;
  width: 250px;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
}

div.editSong-middleContainer {
  width: 10px;
}

div.editSong-rightContainer {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  width: 600px;
}

input[validInput="invalid"]#edit-song-title {
  border: 2px solid red;
}

input[validInput="invalid"] {
  border: 2px solid red;
}

input.edit-song-input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

textarea.edit-song-textarea {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 100px;
  resize: vertical;
}

button#save-edit-song-btn {
  display: flex;
  align-self: flex-end;

  border: none;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 120, 0);
  color: white;
  border-radius: 5px;
}

.invalid-field-prompt {
  color: red;
}

.title-of-req-field {
  color: red;
}
