form.editSongForm {
  margin: 20px;
  min-width: 850px;
  position: relative;
}

#close-edit-song-btn {
  background-color: transparent;
  border: none;

  position: absolute;
  top: -15px;
  right: -15px;
}

#close-edit-song-img {
  height: 10px;
}

div.editSongForm-inner-container {
  display: flex;
  flex-direction: row;
}

img.view-edit-song-img {
  height: 250px;
  width: 250px;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
}

div.editSong-middleContainer {
  width: 10px;
}

div.editSong-rightContainer {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  min-width: 600px;
  gap: 15px;
}

p.edit-song-label-header {
  margin: 0;
}

.edit-song-input {
  box-sizing: border-box;
}

.edit-song-input:focus {
  background-color: rgba(255, 120, 0, 0.2);
  outline: 1px solid black;
}

input.edit-song-input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

textarea.edit-song-textarea {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 100px;
  resize: vertical;
}

.button-edit-song {
  display: flex;
  align-self: flex-end;

  border: 1px solid transparent;
  /* margin-top: 10px; */
  padding: 10px;
  background-color: rgb(255, 120, 0);
  color: white;
  border-radius: 5px;
}

.invalid-field-prompt {
  color: red;
}

.title-of-req-field {
  color: red;
}

.edit-song-modal-button-containers {
  justify-content: flex-end;
  gap: 10px;
}
