div#signup-form-div-wrapper.flx-col {
  align-items: center;

  margin: 25px;
  gap: 15px;

  position: relative;
}

.signup-header {
  margin: 0;
  margin-top: 20px;
  font-weight: normal;
}

form#signup-form {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-content: center;

  width: auto;
  min-width: 350px;

  gap: 5px;
  padding: 20px 10px;
  background-color: white;
}

ul.signup-errors {
  padding: 0px;
  margin: 2px;
}

li.signup-err-li {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  color: red;
}

input.signupform-input {
  box-sizing: border-box;
  min-height: fit-content;
  height: 25px;
  width: 100%;
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
  padding: 0 5px;
  margin: 2px 0;
}

input.signupform-input:focus {
  background-color: rgba(255, 120, 0, 0.2);
}

label.signup-label.flx-col {
  width: 100%;
  padding-bottom: 5px;
  margin: 2px 0;
}

button#create-account-btn {
  background-color: rgb(255, 120, 0);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
  margin-top: 15px;
  padding: 4px 0;
  color: white;
  font-size: large;
}

button#modal-create-account {
  background-color: rgb(255, 120, 0);
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 0 20px;
  margin: 5px 0;
  border: none;
  min-width: fit-content;
}

label.signup-label > div {
  height: 20px;
  margin-bottom: 2px;
}
