/* Question: How to select li tags with custom attribute */
/* li[attribute] for li[key] doesn't seem to be selecting */
/* regular li tag selector works though */

.nav-header {
  background-color: #333;
  color: #cccccc;

  width: 97vw;
  display: flex;
}

.nav-container-outer {
  border: red 0.5px solid;

  display: inline-flex;
  flex-direction: row;

  justify-content: space-between;

  min-width: 975px;
  width: 100%;

  height: 40px;
}

.header__navlink {
  color: #cccccc;

}

.nav-containers {
  /* border: 2px red dashed; */
  width: calc(100%/3);

  display: inline-flex;
  justify-content: space-between;
}


.left-navlink-container-icon {
  width: 20%;
}

.left-navlink-container-text{
  width: calc(80%/3);
  border: yellow solid 1px;
}


.search-container {
  width: 100%;
  text-align: center;
  align-self: center;
}
