/* Question: How to select li tags with custom attribute */
/* li[attribute] for li[key] doesn't seem to be selecting */
/* regular li tag selector works though */

.nav-header {
  background-color: #333;
  color: #cccccc;

  width: 97vw;
  display: flex;

  /* top: 0px; */
}

.nav-container-outer {
  display: inline-flex;
  flex-direction: row;

  justify-content: space-between;

  min-width: 975px;
  width: 100%;

  height: 40px;
}

.header__navlink {
  color: #cccccc;

}

.nav-containers {
  display: inline-flex;
  justify-content: space-between;
  align-self: center;

  width: calc(100%/3);
}

img.nav-icon {
  height: 40px;
}

.left-navlink-container-icon {
  width: 20%;
}

.left-navlink-container-text {
  display: flex;
  width: calc(80%/3);
  justify-content: center;
  align-self: center;
}

.nav-container-left__nav-text {
  display: flex;
  justify-content: center;
  align-self: center;
}

.search-container {
  width: 100%;
  text-align: center;
  align-self: center;
}
