/* Question: How to select li tags with custom attribute */
/* li[attribute] for li[key] doesn't seem to be selecting */
/* regular li tag selector works though */

.nav-header {
  background-color: #333;
  color: #cccccc;

  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
}

.nav-container-outer {
  display: inline-flex;
  flex-direction: row;

  justify-content: space-between;

  min-width: 975px;
  width: 100%;

  height: 40px;
}

.header__navlink {
  color: #cccccc;

}

.nav-containers {
  display: inline-flex;
  justify-content: flex-end;
  align-self: center;

  width: calc(100%/3);
}

img.nav-icon {
  height: 40px;
}

.left-navlink-container-icon {
  width: 20%;
}

.left-navlink-container-text {
  display: flex;
  width: calc(80%/3);
  justify-content: center;
  align-self: center;
}

.nav-container-left__nav-text {
  display: flex;
  justify-content: center;
  align-self: center;
}

.search-container {
  width: 100%;
  text-align: center;
  align-self: center;
}

div.nav-container-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.right-nav-links{
  display: flex;
  flex-direction: row;
  width: 50%;
}

div#user-icon {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

div#profile-button-username {
  padding-left: 10px;
}

button#user-profile-btn {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
  border: none;
}

i.fa-user-ninja {
  color: rgb(255, 120, 0);
}

ul.profile-dropdown {
  position: fixed;
  top: 40px;
  background-color: white;
  border: solid 1px rgba(51, 51, 51, 0.5);
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
  width: 100px;

  z-index: 5;
  /* border: red 4px solid; */
}

button#dropdown-signout {
  background-color: transparent;
  border: none;
  z-index: inherit;
}

div.dropdown-selection {
  display: flex;
  justify-content: center;
}

div.dropdown-selection:hover{
  background-color: rgba(128, 128, 128, 0.25);
}

a.header__navlink:hover {
  text-shadow: 0 0 1px white;
}

a.header__navlink:active {
  background-color: black;
}
