.login-form-wrapper.flx-col {
  justify-content: space-evenly;
  align-items: center;

  min-height: 350px;
  min-width: 350px;

  margin: 25px;
  gap: 15px;

  position: relative;
}

.login-header {
  margin: 0;
  font-weight: normal;
}

label.login-input {
  padding-bottom: 10px;
}

#close-login-btn {
  background-color: transparent;
  border: none;

  position: absolute;
  top: -20px;
  right: -20px;
}

#close-login-img {
  height: 10px;
}

form#login-form {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-content: center;

  min-width: 350px;
  width: 100%;
  gap: 5px;

  /* padding: 20px 10px; */
  background-color: white;
}

input.signin-input {
  /* margin: 3px 0; */
  box-sizing: border-box;
  min-height: fit-content;
  height: 25px;
  width: 100%;
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
  padding: 0 5px;
  margin: 2px 0;
}

.signin-input:focus {
  background-color: rgba(255, 120, 0, 0.2);
}

button.signin-modal-btns {
  padding: 4px 0;
  margin: 15px 0;

  border: none;
  border-radius: 5px;

  background-color: rgb(255, 120, 0);
  font-size: larger;
}

button#modal-submit-credentials {
  color: white;
}

button#demo-user {
  margin: 0;
  color: white;
}

button#modal-login {
  background-color: #333;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 0 20px;
  margin: 5px 0;
  min-width: fit-content;
}

label.login-input {
  margin-bottom: 5px;
  margin-top: 2px;
}

ul.signin-errors {
  padding: 0px;
  margin: 2px;
}

li.signin-err-li {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  color: red;
}
