form#login-form {
  display: flex;
  flex-direction: column;

  padding: 20px 10px;
  background-color: white;
  z-index: 2;
}

button#modal-submit-credentials {
  background-color: rgb(255, 120, 0);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
}

button#demo-user {
  background-color: rgb(255, 120, 0);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
}

div.signin-err-div {
  display: flex;
  justify-content: center;
  color: red;
}

button#modal-login {
  background-color: #333;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 0 20px;
  margin: 5px 0;
}

label.login-input {
  margin: 5px 0;
}
