form#login-form {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-content: center;

  width: 200px;

  padding: 20px 10px;
  background-color: white;

}

input.signin-input {
  /* margin: 3px 0; */
  box-sizing: border-box;
  width: 200px;
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
}

button#modal-submit-credentials {
  background-color: rgb(255, 120, 0);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
  padding: 4px 0;
  color: white;
}

button#demo-user {
  background-color: rgb(255, 120, 0);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
  padding: 4px 0;
  color: white;
}

button#modal-login {
  background-color: #333;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 0 20px;
  margin: 5px 0;
  min-width: fit-content;
}

label.login-input {
  margin: 5px 0;
}

ul.signin-errors {
  padding: 0px;
  margin: 2px;
}

li.signin-err-li {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  color: red;
}
